parameters:
    ignoreErrors:
        -
            message: "#^Property Cache\\\\Adapter\\\\Illuminate\\\\Tests\\\\Acceptance\\\\IlluminateAdapterTest\\:\\:\\$mockItem is never read, only written\\.$#"
            count: 1
            path: ../tests/src/Acceptance/IlluminateAdapterTest.php
